<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>proyectoBiblioteca</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.proyectoBiblioteca.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SocioServlet</display-name>
    <servlet-name>SocioServlet</servlet-name>
    <servlet-class>org.proyectoBiblioteca.controller.SocioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SocioServlet</servlet-name>
    <url-pattern>/Socios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutorServlet</display-name>
    <servlet-name>AutorServlet</servlet-name>
    <servlet-class>org.proyectoBiblioteca.controller.AutorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutorServlet</servlet-name>
    <url-pattern>/Autores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditorialServlet</display-name>
    <servlet-name>EditorialServlet</servlet-name>
    <servlet-class>org.proyectoBiblioteca.controller.EditorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorialServlet</servlet-name>
    <url-pattern>/Editoriales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalidadServlet</display-name>
    <servlet-name>LocalidadServlet</servlet-name>
    <servlet-class>org.proyectoBiblioteca.controller.LocalidadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalidadServlet</servlet-name>
    <url-pattern>/Localidades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiaNoHabilServlet</display-name>
    <servlet-name>DiaNoHabilServlet</servlet-name>
    <servlet-class>org.proyectoBiblioteca.controller.DiaNoHabilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiaNoHabilServlet</servlet-name>
    <url-pattern>/DiasNoHabiles</url-pattern>
  </servlet-mapping>
</web-app>